<div>
    <div class="uk-card uk-border-rounded card-hover">
        <div class="uk-card-header" [class]="post.user.identity">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="64" height="64" src="{{ post.user.image }}" alt="Avatar">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom uk-text-secondary">{{ post.user.name }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><a [routerLink]="['/profile', post.user.username]"
                            class="uk-button-link">&#64;{{ post.user.username
                            }}</a></p>
                </div>
            </div>
        </div>
        <div class="uk-card-media-bottom uk-inline uk-light uk-visible-toggle uk-transition-toggle" tabindex="-1">
            <a><img class="uk-light" src="{{ post.image }}" width="1800" height="1200" alt="Image"></a>
            <div class="uk-overlay-default uk-position-cover uk-hidden-hover uk-transition-fade">
                <div class="uk-position-small uk-position-bottom-left">
                    <button class="uk-button uk-button-link" (click)="toggleLike()">
                        <span [class.like]="isLiked" uk-icon="icon: heart; ratio: 2"></span>
                    </button>
                </div>
                <a href="#post-description-modal" uk-toggle
                    class="uk-button uk-button-text uk-text-meta uk-margin-remove-top uk-position-small uk-position-bottom-right"
                    (click)="selectPost(post)">Saiba mais</a>
            </div>
        </div>
    </div>
</div>