<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-2@m">
        <p class="uk-text-center uk-margin-medium-top uk-margin-xsmall-bottom">
            <span class="uk-icon uk-margin-small-left" uk-icon="icon: logo; ratio: 2.5"></span>
        </p>
        <article class="uk-article uk-text-muted">

            <h1 class="uk-article-title uk-text-primary">Sobre o PrideArt</h1>

            <p class="uk-text-lead uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Inventore quidem voluptate laboriosam minima saepe, eum voluptatum labore modi mollitia consequuntur
                officia. Sunt quam tenetur debitis, cumque eius illum impedit sapiente?</p>

        </article>
        <div class="uk-text-center uk-margin-large-top">
            <a href="https://github.com/rafaelwnk/PrideArt" target="_blank" class="uk-icon-button uk-background-default" uk-icon="icon: github; ratio: 2"></a>
        </div>
    </div>
</div>