<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-medium-top uk-margin-xsmall-bottom">
      <span class="uk-icon uk-margin-small-left" uk-icon="icon: logo; ratio: 2.5"></span>
    </p>

    <div>
      <form>
        <div class="uk-card uk-card-body uk-border-rounded">
          <h3 class="uk-card-title uk-text-muted">Faça login</h3>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input uk-form-large uk-text-muted" type="text" placeholder="Usuário">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large uk-text-muted" formControlName="password" type="password"
                placeholder="Senha">
            </div>
          </div>
          <div class="uk-margin uk-text-right">
            <button class="uk-button uk-button-primary uk-border-pill uk-text-muted">Entrar</button>
          </div>
        </div>
      </form>

      <p class="uk-text-center">
        <a
          class="uk-button uk-width-3-4 uk-button-large uk-button-primary uk-margin-small-bottom uk-border-pill">Cadastre-se</a>
        <br>
        <a class="uk-button uk-button-link">Esqueci minha senha</a>
      </p>
    </div>
  </div>
</div>