<div id="post-description-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" [style.background-image]="'url(' + post?.image + ')'" uk-height-viewport>
            </div>
            <div class="uk-padding-large">
                <h1 class="uk-text-primary">{{ post?.title }}
                    @if(isLoggedInUser && loggedInUser.username === post?.user?.username) {
                    <a href="#edit-post-modal" uk-toggle class="uk-button uk-button-link uk-margin-xsmall-left"
                        type="button"><span class="uk-icon" uk-icon="icon: pencil; ratio: 1.5"></span>
                    </a>
                    }
                </h1>
                <p class="uk-article-meta">Feito por: <a [routerLink]="['/profile', post?.user?.username]">{{
                        post?.user?.username }}</a> em<time> {{ post?.createdAt | date: 'dd/MM/yyyy \'às\' HH:mm'
                        }}</time></p>
                <p class="uk-text-secondary">{{ post?.description }}</p>
            </div>
        </div>
    </div>
</div>

@if(post) {
<app-edit-post-modal [post]="post"></app-edit-post-modal>
}