<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-medium-top uk-margin-xsmall-bottom">
      <span class="uk-icon uk-margin-small-left" uk-icon="icon: logo; ratio: 2.5"></span>
    </p>

    <div>
      <form>
        <div class="uk-card uk-card-body uk-border-rounded">
          <h3 class="uk-card-title uk-text-muted">Recuperar senha</h3>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input class="uk-input uk-form-large uk-text-muted" type="email" placeholder="Email">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large uk-text-muted" type="password"
                placeholder="Nova senha">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large uk-text-muted" type="password"
                placeholder="Confirme a senha">
            </div>
          </div>
          <div class="uk-margin uk-text-right">
            <button class="uk-button uk-button-primary uk-border-pill uk-text-muted">Mudar senha</button>
          </div>
        </div>
      </form>

      <p class="uk-text-center">
        <a class="uk-button uk-button-link">Voltar</a>
      </p>
    </div>
  </div>
</div>