<div class="uk-flex uk-flex-center uk-margin-top">
    <div class="uk-flex uk-flex-column uk-width-1-1@m">
        <div class="uk-text-center uk-margin-xsmall-bottom ">
            <h1 class="uk-text-secondary">Explorar</h1>
            <p class="uk-text-secondary uk-text-meta">Área destinada a visualizar artes de diferentes artistas</p>
        </div>
        <ul class="uk-subnav uk-card-footer uk-text-center uk-flex uk-flex-center custom-switcher"
            uk-switcher="animation: uk-animation-fade">
            <li><a href="#" class="uk-button uk-button-text ">Descobrir</a></li>
            <li><a href="#" class="uk-button uk-button-text">Seguindo</a></li>
        </ul>
        @if(busy) {
        <app-loading></app-loading>
        }
        <div class="uk-switcher uk-margin">
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m" uk-grid uk-sortable="handle: .uk-card">
                    @for (post of posts$ | async; track post.id) {
                    <app-post-card [post]="post" (selectedPost)="onSelectedPost($event)"></app-post-card>
                    }
                </div>
            </div>
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m" uk-grid uk-sortable="handle: .uk-card">
                    @for (post of followedPosts$ | async; track post.id) {
                    <app-post-card [post]="post" (selectedPost)="onSelectedPost($event)"></app-post-card>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<app-post-description-modal [post]="selectedPost"></app-post-description-modal>