<div class="uk-flex uk-flex-center uk-margin-top">
    <div class="uk-flex uk-flex-column uk-width-1-2@m">
        <h1 class="uk-text-center uk-margin-small-bottom uk-text-secondary">Artistas</h1>
        <ul class="uk-subnav uk-card-footer uk-text-center uk-flex uk-flex-center custom-switcher"
            uk-switcher="animation: uk-animation-fade">
            <li><a href="#" class="uk-button uk-button-text ">Descobrir</a></li>
            <li><a href="#" class="uk-button uk-button-text">Seguindo</a></li>
        </ul>
        @if(busy) {
            <app-loading></app-loading>
        }
        <div class="uk-switcher uk-margin">
            <div uk-sortable="handle: .uk-card">
                @for (user of users; track user.id ) {
                <app-artists-card [user]="user"></app-artists-card>
                }
            </div>
            <div uk-sortable="handle: .uk-card">
                @for (user of followingUsers; track user.id ) {
                <app-artists-card [user]="user"></app-artists-card>
                }
            </div>
        </div>

    </div>
</div>