<div class="uk-light">
    <div class="uk-container-expand uk-margin-medium-left uk-margin-medium-right">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <button type="button" uk-toggle="target: #offcanvas-nav-primary" uk-icon="icon: menu"></button>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#post-modal" uk-toggle>
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus"></span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/profile']">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/login']">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-background-default">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-margin-medium">
                <a [routerLink]="['']" uk-toggle="target: #offcanvas-nav-primary">
                    <span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: home"></span>
                    Página inicial
                </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-margin-medium">
                <a [routerLink]="['explore']" uk-toggle="target: #offcanvas-nav-primary">
                    <span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: search"></span>
                    Explorar
                </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-margin-medium">
                <a [routerLink]="['artists']" uk-toggle="target: #offcanvas-nav-primary">
                    <span class="uk-icon uk-margin-xsmall-right" uk-icon="icon: users"></span>
                    Artistas
                </a>
            </li>
        </ul>
    </div>
</div>

<app-post-modal></app-post-modal>