@if(user) {
<div class="uk-card uk-card-primary uk-margin-bottom uk-border-rounded card-hover" [class]="user.identity">
    @if(isFollowing) {
        <button class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
        type="button">Parar de seguir</button>
    } @else {
        <button class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
        type="button">Seguir</button>
    }
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="64" height="64" src="{{ user.image }}" alt="Avatar">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.name }}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><a class="uk-button-link">&#64;{{ user.username }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p class="uk-text-emphasis">{{ user.bio }}</p>
    </div>
</div>
}