<div class="uk-flex uk-flex-center uk-margin-top">
    <div class="uk-flex uk-flex-column uk-width-1-1@m">
        @if(busy) {
        <app-loading></app-loading>
        }
        @let posts = posts$ | async;
        @if(posts) {
        <div class="uk-position-relative" [class]="posts[0].user.identity">
            <div class="uk-card-header">
                @if(isLoggedInUser) {
                <a href="#edit-profile-modal" uk-toggle
                    class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
                    type="button"><span class="uk-icon" uk-icon="icon: pencil"></span>
                </a>
                }
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="128" height="128" src="{{ posts[0].user.image }}"
                            alt="Image">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom uk-text-secondary">{{ posts[0].user.name }}
                        </h3>
                        <p class="uk-text-meta uk-margin-remove-top"><a class="uk-button-link">&#64;{{
                                posts[0].user.username }}</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="uk-card-body">
                <p class="uk-text-secondary">Bio: {{ posts[0].user.bio }}</p>
            </div>
        </div>
        }

        @if(!busy) {
        <ul class="uk-subnav uk-card-footer uk-text-center uk-flex uk-flex-center custom-switcher"
            uk-switcher="animation: uk-animation-fade">
            <li><a href="#" class="uk-button uk-button-text ">Posts</a></li>
            @if(isLoggedInUser) {
            <li><a href="#" class="uk-button uk-button-text">Curtidos</a></li>
            }
        </ul>
        }
        <div class="uk-switcher uk-margin">
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
                    @for (post of posts$ | async; track post.id) {
                    <app-post-card [post]="post" (selectedPost)="onSelectedPost($event)"></app-post-card>
                    }
                </div>
            </div>
            <p>Testando</p>
        </div>
    </div>
</div>

<app-edit-profile-modal></app-edit-profile-modal>
<app-post-description-modal [post]="selectedPost"></app-post-description-modal>