<div class="uk-flex uk-flex-center uk-margin-top">
    <div class="uk-flex uk-flex-column uk-width-1-1@m">
        @if(busy) {
        <app-loading></app-loading>
        }
        @else {
        <div class="uk-position-relative" [class]="profileUser.identity">
            <div class="uk-card-header">
                @if(isLoggedInUser) {
                <a href="#edit-profile-modal" uk-toggle
                    class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
                    type="button"><span class="uk-icon" uk-icon="icon: pencil"></span>
                </a>
                } @else {
                @if(isFollowing) {
                <button (click)="toggleFollow()"
                    class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
                    type="button">Parar de seguir</button>
                } @else {
                <button (click)="toggleFollow()"
                    class="uk-position-small uk-position-top-right uk-button uk-button-default uk-border-pill follow"
                    type="button">Seguir</button>
                }
                }
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="128" height="128" src="{{ profileUser.image }}"
                            alt="Image">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom uk-text-secondary">{{ profileUser.name }}
                        </h3>
                        <p class="uk-text-meta uk-margin-remove-top"><a
                                [routerLink]="['/profile', profileUser.username]" class="uk-button-link">&#64;{{
                                profileUser.username }}</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="uk-card-body">
                <p class="uk-text-secondary">{{ profileUser.bio }}</p>
            </div>
        </div>

        @if(!busy) {
        <ul class="uk-subnav uk-card-footer uk-text-center uk-flex uk-flex-center custom-switcher"
            uk-switcher="animation: uk-animation-fade">
            <li><a href="#" class="uk-button uk-button-text ">Posts</a></li>
            @if(isLoggedInUser) {
            <li><a href="#" class="uk-button uk-button-text">Curtidos</a></li>
            }
        </ul>
        }
        <div class="uk-switcher uk-margin">
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                    uk-sortable="handle: .uk-card">
                    @for (post of posts; track post.id) {
                    <app-post-card [post]="post" [loggedInUser]="loggedInUser"
                        (selectedPost)="onSelectedPost($event)"></app-post-card>
                    }
                </div>
            </div>
            @if(isLoggedInUser) {
            <div class="uk-container">
                <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                    uk-sortable="handle: .uk-card">
                    @for (post of likedPosts; track post.id) {
                    <app-post-card [post]="post" [loggedInUser]="loggedInUser"
                        (selectedPost)="onSelectedPost($event)"></app-post-card>
                    }
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>

@if(editProfileUser) {
    <app-edit-profile-modal [user]="editProfileUser" (userEdited)="onEditedUser($event)"></app-edit-profile-modal>
}
<app-post-description-modal [post]="selectedPost" [isLoggedInUser]="isLoggedInUser" [loggedInUser]="loggedInUser"></app-post-description-modal>





