.follow {
    background: #222;
    color: #fff;
}

.follow:hover {
    background: #f5f5f5;
    color: #222;
}

.lesbian {
    background: linear-gradient(to right, #d52d00, #ff9a56, #d362a4, #a30262);
}

.gay {
    background: linear-gradient(to right, #20a69b, #39d4c8, #75ead5, #9ac7ff, #7679e6, #6139d1);
}

.bisexual {
    background: linear-gradient(to right, #d60270, #9b4f96, #0038a8);
}

.transgender {
    background: linear-gradient(to right, #5bcefa, #f5a9b8, #f5a9b8, #5bcefa);
}

.queer {
    background: linear-gradient(to right, #c175da, #3f8e21);
}

.intersex {
    background: linear-gradient(to right, #ffd800, #7902aa, #ffd800);
}

.asexual {
    background: linear-gradient(to right, #000000, #a3a3a3, #800080);
}

.pansexual {
    background: linear-gradient(to right, #ff218c, #ed2e8c, #ffd800 45%, #ffd800 55%,#4cace2, #21b1ff);
}

.demisexual {
    background: linear-gradient(to right, #000000, #6e0070, #646464);
}

.non-binary {
    background: linear-gradient(to right, #fef32f, #9b58d0, #000000);
}

.travesti {
    background: linear-gradient(to right, #d887dc, #ffc6de, #ffc6de, #d887dc);
}

.drag {
    background: linear-gradient(to right, #b667fa, #e9a1e0, #4867fc);
}

.card-hover:hover {
    box-shadow: 0 14px 25px rgba(255, 255, 255, 0.1) !important;
}

.custom-switcher li.uk-active a {
    color: #9d57d3 !important;
}

.like svg path {
    fill: #fff !important;
}