.follow {
    background: #222;
    color: #fff;
}

.follow:hover {
    background: #f5f5f5;
    color: #222;
}

.lesbian {
    background: linear-gradient(to right, #d52d00, #d362a4);
}

.gay {
    background: linear-gradient(to right, #39d4c8, #7679e6);
}

.bisexual {
   background: linear-gradient(to right, #ff0080, #7748d6); 
}

.transgender {
    background: linear-gradient(to right, #5bcefa, #f5a9b8);
}

.queer {
    background: linear-gradient(to right, #c175da, #74a464);
}

.intersex {
    background: linear-gradient(to right, #f9c266, #910dce);
}

.asexual {
    background: linear-gradient(to right, #a3a3a3, #820080);
}

.pansexual {
    background: linear-gradient(to right, #ed2e8c, #4cace2);
}

.demisexual {
    background: linear-gradient(to right, #000000, #6e0070);
}

.non-binary {
    background: linear-gradient(to right, #fdf433, #9a5acf, #000000);
}

.travesti {
    background: linear-gradient(to right, #d887dc, #ffc6de);
}

.drag {
    background: linear-gradient(to right, #b667fa, #e9a1e0, #4867fc);
}

.card-hover:hover {
    box-shadow: 0 14px 25px rgba(255, 255, 255, 0.1) !important;
}

.custom-switcher li.uk-active a {
  color: #9d57d3 !important; 
}