<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-xsmall-top uk-margin-xsmall-bottom">
      <span class="uk-icon uk-margin-small-left" uk-icon="icon: logo; ratio: 2.5"></span>
    </p>

    @if(busy) {
    <app-loading></app-loading>
    } @else {
    <div>
      <form [formGroup]="form">
        <div class="uk-card uk-card-body">
          <h3 class="uk-card-title uk-text-muted">Cadastre-se</h3>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: happy"></span>
              <input class="uk-input uk-form-large uk-text-muted uk-border-rounded" formControlName="name" type="text"
                placeholder="Nome"
                [ngClass]="{'uk-form-danger': (!form.controls['name'].valid && !form.controls['name'].pristine) }">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input uk-form-large uk-text-muted uk-border-rounded" formControlName="username"
                type="text" placeholder="Usuário"
                [ngClass]="{'uk-form-danger': (!form.controls['username'].valid && !form.controls['username'].pristine) }">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: mail"></span>
              <input class="uk-input uk-form-large uk-text-muted uk-border-rounded" formControlName="email" type="email"
                placeholder="Email"
                [ngClass]="{'uk-form-danger': (!form.controls['email'].valid && !form.controls['email'].pristine) }">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline" uk-form-custom="target: > * > span:first-child">
              <span class="uk-form-icon uk-margin-small-right " uk-icon="icon: heart"></span>
              <select formControlName="identity" aria-label="Custom controls">
                <option value="" disabled selected>Como se identifica?</option>
                <option value="lesbian">Lésbica</option>
                <option value="gay">Gay</option>
                <option value="bisexual">Bissexual</option>
                <option value="transgender">Transgênero</option>
                <option value="queer">Queer</option>
                <option value="intersex">Intersexo</option>
                <option value="asexual">Assexual</option>
                <option value="pansexual">Pansexual</option>
                <option value="demisexual">Demissexual</option>
                <option value="non-binary">Não-binário</option>
                <option value="travesti">Travesti</option>
                <option value="drag">Drag</option>
              </select>
              <button
                class="uk-input uk-form-large uk-text-muted uk-flex uk-flex-between uk-flex-middle uk-border-rounded"
                type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
              </button>
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large uk-text-muted uk-border-rounded" formControlName="password"
                type="password" placeholder="Senha"
                [ngClass]="{'uk-form-danger': (!form.controls['password'].valid && !form.controls['password'].pristine) }">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-width-1-1 uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large uk-text-muted uk-border-rounded" formControlName="confirmPassword"
                type="password" placeholder="Confirme a senha"
                [ngClass]="{'uk-form-danger': (!form.controls['confirmPassword'].valid && !form.controls['confirmPassword'].pristine) }">
            </div>
          </div>
          <div class="uk-margin uk-text-right">
            <button class="uk-button uk-button-primary uk-border-pill uk-text-muted" [disabled]="form.invalid"
              (click)="submit()">Cadastrar</button>
          </div>
          <p class="uk-text-center">
            <a [routerLink]="['/login']" class="uk-button uk-button-link">Voltar</a>
          </p>
        </div>
      </form>
    </div>
    }
  </div>
</div>